/.idea/*
/__pycache__
/BotData/token.txt
/BotData/subscribed_users.txt

/BreadClient/app
/BreadClient/resources
/BreadClient/bread.kv
/BreadClient/captcha.jpg

/AITools/LLMServer/model_config.cfg
/AITools/LLMServer/models

/users

cnc_server.db
captcha.jpg
identifier.sqlite
